
@{
    ViewBag.Title = "Confirm";
}

<head>
    <link href="~/Content/Styles.css" rel="stylesheet" />
</head>

<h2>Success!</h2>

<p>Record has been updated to the database!</p>
<p>@Html.ActionLink("Click here to view records", "Index", "FMGs")</p>

